body {
  background-color: antiquewhite;
}
.square {
  height: 128px;
  width: 512px;
  border: 8px solid black;
  margin: 16px;
  padding: 16px;
}
.content-box {
  box-sizing: content-box;
  background: aquamarine;
}
.border-box {
  box-sizing: border-box;
  background: azure;
}
