* {
  box-sizing: border-box;
}
.dropdown {
  position: relative;
  margin: 16px;
}
.dropdown:hover .menu-list {
  display: block;
}
.dropdown:hover .menu-button {
  height: 50px;
  position: absolute;
  background-color: darkgreen;
  padding: 16px;
  font-size: 16px;
  color: white;
  opacity: 1;
  cursor: pointer;
}
.menu-button {
  color: white;
  height: 50px;
  position: absolute;
  background-color: darkgreen;
  padding: 16px;
  opacity: 0.8;
}

.menu-list {
  display: none;
  top: 34px;
  position: absolute;
  background-color: lightcyan;
  padding: 0;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  min-width: 120px;
}

.menu-list:hover {
  position: absolute;
  cursor: pointer;
}
.menu-item {
  list-style-type: none;
  padding: 16px;
}
