/* * {
  box-sizing: border-box;
}
.dropdown {
  position: relative;
  margin: 16px;
}
.dropdown:hover .menu-list {
  display: block;
}
.dropdown:hover .menu-button {
  height: 50px;
  position: absolute;
  background-color: darkgreen;
  padding: 16px;
  font-size: 16px;
  color: white;
  opacity: 1;
  cursor: pointer;
}
.menu-button {
  height: 50px;
  position: absolute;
  background-color: darkgreen;
  padding: 16px;
  opacity: 0.8;
}

.menu-list {
  display: none;
  top: 34px;
  position: absolute;
  background-color: lightcyan;
  padding: 0;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  min-width: 120px;
}

.menu-list:hover {
  position: absolute;
  cursor: pointer;
}
.menu-item {
  list-style-type: none;
  padding: 16px;
} */
 background-color: darkgreen;
  color: white;
  display: inline-block;
  margin: 16px;
  padding: 8px;
  opacity: 0.8;
  font-size: 16px;
  padding: 16px;
  cursor: pointer;
}

.menu-list {
  position: absolute;
  top: 50px;
  left: 0;
  padding: 0;
  display: none;
  margin: 0;
  background-color: lightcyan;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  list-style: none;
  z-index: 1;
  min-width: 120px;
}

.menu-item {
  padding: 16px;
}

.dropdown:hover {
  opacity: 1;
}

.dropdown:hover .menu-list {
  display: block;
}