@import 'breakpoints.scss';

.container {
  display: flex;
  flex-direction: column;
  @include for-device-large {
    flex-direction: row;
  }
}

.products {
  display: flex;
  flex-direction: column;
  @include for-device-medium {
    flex-direction: row;
    flex: 2;
  }
}

.navigation {
  display: flex;
  flex: 1;
  background-color: #ff7f50;
  min-height: 200px;
}
.products-list {
  display: flex;
  flex: 1;
  background-color: #006400;
  min-height: 200px;
}
.news {
  display: flex;
  flex: 1;
  background-color: #0ff;
  min-height: 200px;
}
