$color-primary: #006400;
$color-secondary: #ff7f50;
$color-hover: #9acd32;

$color-text-primary: #000;
$color-text-secondary: #fff;
$color-text-hover: #ffff00;
$box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
